<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f8296">  <td>21/02/04 14:23:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeCreditTest.HomeCreditTest()[pri:2, instance:tests.HomeCreditTest@d706f19]">HomeCreditTest</td> 
  <td>main@355790875</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/02/04 14:19:42</td>   <td>-211755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass.sampleTest()[pri:1, instance:tests.HomeCreditTest@d706f19]">sampleTest</td> 
  <td>main@355790875</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/02/04 14:19:15</td>   <td>-238808</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:tests.HomeCreditTest@d706f19]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@355790875</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>21/02/04 14:24:09</td>   <td>55064</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:tests.HomeCreditTest@d706f19]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@355790875</td>   <td></td> </tr>
</table>
